 /* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .l_text {
    font-size: 23px;
    padding-left: 5px;
  }

  .logo {
    margin-top: 15px;
  }

  .l_top {
    display: none;
  }

  .menu ul li a {
    padding: 5px 0px !important;
  }

  .btn-search {
    padding-left: 0;
    padding-top: 11px;
  }

  .d_search {
    top: -9px;
    min-width: 205px;
  }

  .d_search[data-bs-popper] {
    left: 60px;
  }

  /* Header End */
  /* Slider Start */
  .c-ind {
    right: -64%;
    bottom: -12.3%;
    margin-right: 81%;
    margin-left: 75%;
  }

  .c-ind [data-bs-target] {
    width: 1px;
    height: 14px;
  }

  .c-c-p {
    bottom: 0.25rem;
    width: 83%;
    padding-bottom: 0;
  }

  .c-c-p h1 {
    font-size: 18px;
    margin-bottom: 7px;
  }

  .c-c-p p {
    font-size: 12px;
    line-height: 11px;
    margin-bottom: 9px;
  }

  .c-btn {
    width: 31%;
    height: 25px;
    font-size: 7px;
  }

  .c-fw-p {
    padding-left: 4px;
  }

  .c-bot-prev, .c-bot-next {
    bottom: -9px;
  }

  .c-bot-prev {
    left: 67%;
  }

  .c-bot-next {
    right: 10%;
  }

  .c-bin-p, .c-bin-n {
    font-size: 12px;
  }

  /* Slider End */
  /* Feature Start */
  .f-top {
    height: 30px;
    margin-bottom: 12px;
  }

  .f-welcome {
    font-size: 23px;
  }

  .f-para {
    font-size: 14px;
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 8px;
  }
  .featurelp {
    margin-top: 40px;
  }

  .f-lasttitle {
    font-size: 18px;
    margin-top: 7px;
    margin-bottom: 13px;
  }

  .f-lastpara {
    font-size: 14px;
    margin: 15px 0 23px;
  }

  .c-fs li {
    font-size: 14px;
  }

  .c-margin {
    margin-bottom: 50px;
  }
  .f-icoffee img {
      width: 100%;
      height: 264px;
      margin-top: 0px;
  }

  .f-content {
    padding-left: 0px;
    margin-top: 20px;
  }
  .f-content h3 {
    font-size: 23px;
}

.f-lp1, .f-lp2 {
  font-size: 14px;
  line-height: 20px;
}

  .f-lp1 {
      margin: 16px 0 24px;
  }

  .f-lp2 {
    margin-bottom: 30px;
}

.f-button {
  width: 38%;
  height: 32px;
  padding: 3px 9px 7px;
}

  .c-fontsize1 {
    font-size: 11px;
}
  .c-fontsize2 {
    font-size: 11px;
}

  /* Feature End */
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

  /* Header Start*/
  .logo {
    margin-top: 15px;
  }

  .l_top {
    display: none;
  }

  .menu ul li a {
    padding: 5px 0px !important;
  }

  .btn-search {
    padding-left: 0;
    padding-top: 11px;
  }

  .d_search {
    top: -9px;
  }

  .d_search[data-bs-popper] {
    left: 60px;
  }

  /* Header End */
  /* Slider Start */
  .c-ind {
    right: -63%;
    bottom: -7.3%;
    margin-right: 79%;
    margin-left: 78%;
  }

  .c-ind [data-bs-target] {
    width: 1px;
    height: 14px;
  }

  .c-c-p {
    bottom: -0.75rem;
  }

  .c-c-p h1 {
    font-size: 26px;
    margin-bottom: 15px;
  }

  .c-c-p p {
    font-size: 16px;
    line-height: 15px;
    margin-bottom: 20px;
  }

  .c-btn {
    width: 31%;
    height: 25px;
    font-size: 8px;
  }

  .c-fw-p {
    padding-left: 4px;
  }

  .c-bot-prev, .c-bot-next {
    bottom: -9px;
  }

  .c-bot-prev {
    left: 72%;
  }

  .c-bot-next {
    right: 10%;
  }

  .c-bin-p, .c-bin-n {
    font-size: 14px;
  }

  /* Slider End */
  /* Feature Start */
  .f-top {
    height: 36px;
    margin-bottom: 19px;
  }

  .c-margin {
    margin-bottom: 60px;
  }

  .f-para {
    line-height: 22px;
    margin-top: 25px;
    margin-bottom: 30px;
  }

  .featurelp {
    margin-top: 40px;
  }

  .f-content {
    padding-left: 0px;
    margin-top: 20px;
  }

  .f-lp1, .f-lp2 {
    line-height: 24px;
  }

  .f-lp1 {
    margin: 23px 0 32px;
  }

  .f-lp2 {
    margin-bottom: 40px;
  }

  .f-button {
    width: 26%;
    height: 40px;
    padding: 8px 13px 13px;
  }

  .c-fontsize1 {
    font-size: 12px;
  }

  .c-fontsize2 {}

  /* Feature End */
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

  /* Header Start */
  .menu ul li a {
    padding: 5px 0px !important;
  }

  .btn-search {
    padding-left: 0;
    padding-top: 11px;
  }

  .d_search {
    top: -9px;
  }

  .d_search[data-bs-popper] {
    left: 60px;
  }

  /* Header End */
  /* Slider Start */
  .c-ind {
    right: 64%;
    bottom: -5.3%;
    margin-right: 17%;
    margin-left: 16%;
  }

  .c-ind [data-bs-target] {
    width: 1px;
    height: 14px;
  }

  .c-c-p {
    bottom: 1.25rem;
  }

  .c-c-p h1 {
    font-size: 33px;
    margin-bottom: 20px;
  }

  .c-c-p p {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 25px;
  }

  .c-btn {
    width: 30%;
    height: 30px;
    font-size: 11px;
  }

  .c-fw-p {
    padding-left: 8px;
  }

  .c-bot-prev, .c-bot-next {
    bottom: -9px;
  }

  .c-bot-prev {
    left: 11%;
  }

  .c-bot-next {
    right: 76%;
  }

  .c-bin-p, .c-bin-n {
    font-size: 14px;
  }

  /* Slider End */
  /* Feature Start */
  .c-margin {
    margin-bottom: 60px;
  }

  .f-top {
    margin-bottom: 19px;
  }

  .f-para {
    line-height: 28px;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .featurelp {
    margin-top: 40px;
  }

  .f-content {
    padding-left: 0px;
    margin-top: 20px;
  }

  .f-lp1, .f-lp2 {
    line-height: 27px;
  }

  .f-lp1 {
    margin: 27px 0 37px;
  }

  .f-lp2 {
    margin-bottom: 46px;
  }

  .f-button {
    width: 29%;
  }

  /* Feature End */
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

  /* Slider Start */
  .c-ind {
    right: 66%;
    bottom: -3%;
    margin-right: 16%;
    margin-left: 15%;
  }

  .c-ind [data-bs-target] {
    width: 2px;
    height: 18px;
  }

  .c-c-p {
    bottom: 3.25rem;
  }

  .c-c-p h1 {
    font-size: 42px;
    margin-bottom: 25px;
  }

  .c-c-p p {
    font-size: 12px;
    margin-bottom: 40px;
  }

  .c-btn {
    width: 30%;
    height: 40px;
    font-size: 14px;
  }

  .c-fw-p {
    padding-left: 15px;
  }

  .c-bot-next {
    right: 78%;
  }

  /* Slider End */
  /* Feature Start */
  .f-icoffee img {
    height: 484px;
  }

  .f-lp1, .f-lp2 {
    line-height: 27px;
  }

  .f-lp1 {
    margin: 27px 0 37px;
  }

  .f-lp2 {
    margin-bottom: 46px;
  }

  .f-button {
    width: 40%;
    height: 47px;
    padding: 12px 35px 14px;
  }

  /* Feature End */
}

/* // Extra large devices (Extralarge desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {

  /* Feature Start */
  .f-icoffee img {
    height: 459px;
  }

  /* Feature End  */
}

/* // Extra Extra large devices (Extra extra large desktops, 1400px and up) */
@media (min-width: 1400px) {}
