 /* Common Header Part Start */
 .manual {
   color: white;
   background: rgba(109, 0, 25, 1);
   background: -moz-linear-gradient(left, rgba(109, 0, 25, 1) 0%, rgba(109, 0, 25, 1) 22%, rgba(169, 3, 41, 1) 47%, rgba(109, 0, 25, 1) 82%, rgba(109, 0, 25, 1) 100%);
   background: -webkit-gradient(left top, right top, color-stop(0%, rgba(109, 0, 25, 1)), color-stop(22%, rgba(109, 0, 25, 1)), color-stop(47%, rgba(169, 3, 41, 1)), color-stop(82%, rgba(109, 0, 25, 1)), color-stop(100%, rgba(109, 0, 25, 1)));
   background: -webkit-linear-gradient(left, rgba(109, 0, 25, 1) 0%, rgba(109, 0, 25, 1) 22%, rgba(169, 3, 41, 1) 47%, rgba(109, 0, 25, 1) 82%, rgba(109, 0, 25, 1) 100%);
   background: -o-linear-gradient(left, rgba(109, 0, 25, 1) 0%, rgba(109, 0, 25, 1) 22%, rgba(169, 3, 41, 1) 47%, rgba(109, 0, 25, 1) 82%, rgba(109, 0, 25, 1) 100%);
   background: -ms-linear-gradient(left, rgba(109, 0, 25, 1) 0%, rgba(109, 0, 25, 1) 22%, rgba(169, 3, 41, 1) 47%, rgba(109, 0, 25, 1) 82%, rgba(109, 0, 25, 1) 100%);
   background: linear-gradient(to right, rgba(109, 0, 25, 1) 0%, rgba(109, 0, 25, 1) 22%, rgba(169, 3, 41, 1) 47%, rgba(109, 0, 25, 1) 82%, rgba(109, 0, 25, 1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d0019', endColorstr='#6d0019', GradientType=1);
   transition: 1s;
 }

 .manual:hover {
   background: rgba(255, 255, 255, 1);
   background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
   background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
   background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
   background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
   background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
   background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=1);
   color: rgba(109, 0, 25, 1);
 }

 /* Common Header Part End */
 @font-face {
   src: url(./../fonts/Roboto/Roboto-Regular.ttf);
   font-family: Roboto-Regular;
 }

 @font-face {
   src: url(../fonts/Lato/Lato-Regular.ttf);
   font-family: Lato-Regular;
 }

 @font-face {
   src: url(./../fonts/Lato/Lato-Bold.ttf);
   font-family: Lato-Bold;
 }

 @font-face {
   src: url(../fonts/Roboto/Roboto-Medium.ttf);
   font-family: Roboto-Medium;
 }

 /* Common Start */
 body {
   font-family: Roboto-Regular;
   font-size: 16px;
   font-weight: 400;
   color: #8E8E8E;
 }

 /* Common End */
 /* Header Logo part Start */
 header {}

 .c_nav {
   padding-top: 0;
 }

 .n-brand {
   padding-top: 0;
   margin-right: 0;
 }

 .logo {
   font-family: Lato-Regular;
 }

 .l_top {
   font-size: 37px;
   margin-bottom: -8px;
 }

 .l_text {
   font-size: 30px;
   font-weight: 500;
   color: #333333;
   padding-right: 12px;
 }

 .menu {
   margin-top: 30px;
 }

 .menu ul li a {
   font-family: Lato-Regular;
   font-size: 16px;
   font-weight: 700;
   color: #8E8E8E !important;
   padding: 0 15px !important;
 }

 .menu ul li a:hover {
   color: #333333 !important;
 }

 .btn-search {
   color: #8E8E8E !important;
   padding-top: 19px;
 }

 .btn-search:hover {
   color: #333333 !important;
 }

 .btn-search:focus {
   box-shadow: none;
 }

 .d_search {
   min-width: 350px;
   top: 52px;
   padding: 10px;
 }

 .d_search[data-bs-popper] {
   left: -314px;
   margin-top: 0.125rem;
 }

 .col-pad {
   padding-left: 0px;
 }

 .s-button {
   margin-top: 6px;
   background-color: transparent;
   border: none;
   color: #8E8E8E;
 }

 /* Header Logo part End */
 /* SLider Start */
 .hero {}

 .c-p-0 {
   padding: 0 0;
 }

 .c-ind {
   right: 69%;
   bottom: -2%;
   margin-right: 14%;
   margin-left: 13%;
 }

 .c-ind [data-bs-target] {
   width: 3px;
   height: 17px;
   background-color: #8E8E8E;
 }

 .c-c-p {
   bottom: 7.25rem;
   left: 10%;
   text-align: left;
   width: 50%;
 }

 .c-c-p h1 {
   font-family: Lato-Bold;
   font-size: 60px;
   margin-bottom: 30px;
 }

 .c-c-p p {
   color: #ffffff;
   line-height: 28px;
   margin-bottom: 50px;
 }

 .c-btn {
   width: 30%;
   height: 50px;
   font-size: 16px;
   background-color: #FFFFFF;
 }
.c-btn:hover{
  background-color: #8E8E8E;
  color: #FFFFFF;
}

 .c-fw-p {
   padding-left: 1.5rem;
 }

 .c-bot-prev, .c-bot-next {
   align-items: flex-end;
   width: 3%;
 }

 .c-bot-prev:hover, .c-bot-next:hover {
   color: #333333 !important;
 }

 .c-bot-prev {
   left: 10%;
   color: #8E8E8E !important;
 }

 .c-bot-next {
   right: 80%;
   color: #8E8E8E !important;
 }

 .c-bin-p, .c-bin-n {
   background-image: none;
 }

 /* SLider End*/
 /* Feature Start */
 /* 1st part Start */
 .feature {}

 .f-details {}

 .f-top {
   border: 1px solid #333333;
   width: 1px;
   height: 50px;
   display: inline-block;
   margin-bottom: 25px;
 }

 .f-welcome {
   font-family: Lato-Regular;
   font-size: 30px;
   color: #333333;
   text-transform: uppercase;
 }

 /* 1st part End */
 /* 2nd Part Start */
 .f-para {
   line-height: 29px;
   margin-top: 35px;
   margin-bottom: 106px;
 }

 /* 2nd Part End */
 /* 3rd Part Start */
 .c-margin {
   margin-bottom: 100px;
 }

 .featurelp {
   border: 1px solid #8E8E8E;
   text-align: center;
   padding: 0 11px;
 }

 .f-lastlogo {}

 .f-lastlogo i {
   font-size: 60px;
   padding: 10px;
   background-color: white;
   margin-top: -32px;
 }

 .f-lasttitle {
   font-family: Lato-Bold;
   font-size: 18px;
   color: #333333;
   text-transform: uppercase;
   margin-top: 23px;
   margin-bottom: 18px;
 }

 .f-hrcontrol {
   width: 14%;
   margin: 0 auto;
 }

 .f-lastpara {
   margin: 15px 0 33px;
 }

 .featurelp:hover {
   border: 1px solid #333333;
 }

 .featurelp ul {
   cursor: pointer;
 }

 .f-lastlogo i:hover,
 .featurelp ul:hover {
   color: #333333;
 }

 /* 3rd Part End */
 /* 4th Part Start */
 .f-icoffee img {
   width: 100%;
   height: 431px;
   margin-top: 9px;
 }

 .f-content {
   padding-left: 35px;
 }

 .f-content h3 {
   font-family: 'Lato-Regular';
   font-size: 30px;
   text-transform: uppercase;
   color: #333333;
 }

 .f-lp1 {
   margin: 30px 0 40px;
 }

 .f-lp2 {
   margin-bottom: 49px;
 }

 .f-lp1, .f-lp2 {
   line-height: 29px;
 }

 .f-button {
   font-family: Roboto-Medium;
   color: #333333;
   width: 35%;
   height: 50px;
   padding: 13px 35px 15px;
   border: 1px solid #333333;
 }

 /* 4th Part End */
 /* Feature End*/
